In [36]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
from psycopg2 import OperationalError
from tqdm import tqdm
import matplotlib.pyplot as plt
import geopy
tqdm.pandas()

In [56]:
def create_connection(db_name,
                      db_user,
                      db_password,
                      db_host,
                      db_port):
    connection = None
    try:
        connection = psycopg2.connect(
            database=db_name,
            user=db_user,
            password=db_password,
            host=db_host,
            port=db_port,
        )
        print("Connection to PostgreSQL DB successful")
    except OperationalError as e:
        print(f"The error '{e}' occurred")
    return connection

connection = create_connection(
    "postgres", "root", "Optimists1!", "178.170.192.244", "5432"
)

url = "postgresql+psycopg2://root:Optimists1!@178.170.192.244:5432/postgres"
write_engine = create_engine(url)

Connection to PostgreSQL DB successful

In [26]:
# # записать df в БД

# df_final.to_sql('kiosks', con=write_engine, index=False, if_exists='replace')

df_tmp = pd.read_sql_query('select * from tst_center_mass_29102022', connection)

/var/folders/7q/8vvk22jj58jd3fvwfg98269m0000gn/T/ipykernel_24097/1435313668.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_tmp = pd.read_sql_query('select * from tst_center_mass_29102022', connection)

InterfaceError: connection already closed

In [7]:
df_tmp

      id_center_mass  population  step        lat        lon
0                  0        3955     1  55.733460  37.592085
1                  1        5688     1  55.726996  37.582864
2                  2        5301     1  55.720382  37.573841
3                  3       11244     1  55.743848  37.601243
4                  4       11095     1  55.807812  37.640956
...              ...         ...   ...        ...        ...
2510            2510        9182     1  55.853084  37.485039
2511            2511       17595     1  55.853146  37.485350
2512            2512       16108     1  55.737058  37.867771
2513            2513       12456     1  55.739259  37.876286
2514            2514       17225     1  55.741343  37.775578

[2515 rows x 5 columns]

In [11]:
cross_tmp = df_tmp.merge(df_tmp, how='cross')

In [12]:
cross_tmp

,id_center_mass_x,population_x,step_x,lat_x,lon_x,id_center_mass_y,population_y,step_y,lat_y,lon_y
0,0,3955,1,55.733460,37.592085,0,3955,1,55.733460,37.592085
1,0,3955,1,55.733460,37.592085,1,5688,1,55.726996,37.582864
2,0,3955,1,55.733460,37.592085,2,5301,1,55.720382,37.573841
3,0,3955,1,55.733460,37.592085,3,11244,1,55.743848,37.601243
4,0,3955,1,55.733460,37.592085,4,11095,1,55.807812,37.640956
...,...,...,...,...,...,...,...,...,...,...
6325220,2514,17225,1,55.741343,37.775578,2510,9182,1,55.853084,37.485039
6325221,2514,17225,1,55.741343,37.775578,2511,17595,1,55.853146,37.485350
6325222,2514,17225,1,55.741343,37.775578,2512,16108,1,55.737058,37.867771
6325223,2514,17225,1,55.741343,37.775578,2513,12456,1,55.739259,37.876286
6325224,2514,17225,1,55.741343,37.775578,2514,17225,1,55.741343,37.775578

In [13]:
def cal_distance(lat1, lon1, lat2, lon2):
    coords_1 = (lat1, lon1)
    coords_2 = (lat2, lon2)
    return geopy.distance.geodesic(coords_1, coords_2).m

In [30]:
from math import radians, cos, sin, asin, sqrt
EARTH_R = 6363568
def haversine(lat1, lon1, lat2, lon2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lat1, lon1, lat2, lon2 = map(radians, [lat1, lon1, lat2, lon2])
    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    distance = EARTH_R * c
    return distance

In [31]:
cross_tmp['distance'] = cross_tmp.progress_apply(lambda x: haversine(x['lat_x'], x['lon_x'], x['lat_y'], x['lon_y']), axis=1)

100%|██████████| 6325225/6325225 [01:59<00:00, 53113.45it/s]

In [38]:
fake_distance_matrix = cross_tmp.sample(1000, random_state=0)

In [39]:
fake_distance_matrix

,id_center_mass_x,population_x,step_x,lat_x,lon_x,id_center_mass_y,population_y,step_y,lat_y,lon_y,distance,distance_fast
3240123,1288,10756,1,55.895405,37.619321,803,9732,1,55.864041,37.598170,3734.543084,3724.348740
5329644,2119,5925,1,55.698643,37.642191,359,18264,1,55.653487,37.701812,6272.570107,6252.537135
331303,131,9654,1,55.977984,37.192643,1838,4918,1,55.899529,37.572513,25294.746435,25185.280605
5850454,2326,16995,1,55.726146,37.449935,564,14501,1,55.843989,37.365713,14144.433421,14105.605989
483716,192,1561,1,55.568531,37.565076,836,5704,1,55.654929,37.742782,14762.517330,14708.606348
...,...,...,...,...,...,...,...,...,...,...,...,...
5055671,2010,19316,1,55.750784,37.785349,521,6728,1,55.568689,37.577135,24140.422456,24066.613481
3405875,1354,4427,1,55.747621,37.495161,565,17251,1,55.827110,37.446340,9365.129118,9340.065012
3680601,1463,7804,1,55.615160,37.683379,1156,17511,1,55.752422,37.409325,23037.030153,22953.495764
2197730,873,1010,1,55.711338,37.853415,2135,5608,1,55.710720,37.745142,6806.119359,6775.041028
5766595,2292,17030,1,55.791465,37.664096,2215,14468,1,55.577267,37.579330,24436.721916,24374.793017

In [40]:
fake_distance_matrix = fake_distance_matrix[['id_center_mass_x', 'id_center_mass_y', 'step_y', 'distance']]
fake_distance_matrix.columns = ['id_center_mass', 'id_object', 'step', 'distance']

In [50]:
WALK_SPEED = 5000 / 3600
fake_distance_matrix['walk_time'] = fake_distance_matrix['distance'] / WALK_SPEED
fake_distance_matrix['walk_time'] = fake_distance_matrix['walk_time'].round(0).astype(int)
fake_distance_matrix['distance'] = fake_distance_matrix['distance'].round(0).astype(int)

In [58]:
fake_distance_matrix['id_center_mass'] = fake_distance_matrix['id_center_mass'].astype(str)
fake_distance_matrix['id_object'] = fake_distance_matrix['id_object'].astype(str)

In [51]:
fake_distance_matrix = fake_distance_matrix.reset_index(drop=True)

In [52]:
fake_distance_matrix

     id_center_mass  id_object  step  distance  walk_time
0              1288        803     1      3724       2682
1              2119        359     1      6253       4502
2               131       1838     1     25185      18133
3              2326        564     1     14106      10156
4               192        836     1     14709      10590
..              ...        ...   ...       ...        ...
995            2010        521     1     24067      17328
996            1354        565     1      9340       6725
997            1463       1156     1     22953      16527
998             873       2135     1      6775       4878
999            2292       2215     1     24375      17550

[1000 rows x 5 columns]

In [60]:
fake_distance_matrix.to_sql('fake_distances_matrix', con=write_engine, index=False, if_exists='replace')

In [59]:
pd.read_sql_query('select * from fake_distances_matrix', connection)

/var/folders/7q/8vvk22jj58jd3fvwfg98269m0000gn/T/ipykernel_24097/247859423.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query('select * from fake_distances_matrix', connection)

     id_center_mass  id_object  step  distance  walk_time
0              1288        803     1      3724       2682
1              2119        359     1      6253       4502
2               131       1838     1     25185      18133
3              2326        564     1     14106      10156
4               192        836     1     14709      10590
..              ...        ...   ...       ...        ...
995            2010        521     1     24067      17328
996            1354        565     1      9340       6725
997            1463       1156     1     22953      16527
998             873       2135     1      6775       4878
999            2292       2215     1     24375      17550

[1000 rows x 5 columns]