In [1]:
%load_ext autoreload
import os
import pandas as pd
from postamats.utils import load
from postamats.utils.connections import PATH_TO_ROOT

pd.set_option('display.max_columns', None)

Пайплайн расчета матрицы дистанций на стороне БД

In [2]:
CONFIG_PATH = os.path.join(PATH_TO_ROOT, 'db_config.json')
load.calc_distances_matrix_database(CONFIG_PATH)

aborted

Пайплайн расчета матрицы дистанций локально

In [3]:
all_dists = load.calc_distances_matrix_locally(CONFIG_PATH)

Загружаем из БД all_objects_data
Connection to PostgreSQL DB successful

/Users/affernus/PROJECTS/hacks/postomat_optimisation/src/postamats/utils/connections.py:96: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

Загружаем из БД centers_mass
Connection to PostgreSQL DB successful

/Users/affernus/PROJECTS/hacks/postomat_optimisation/src/postamats/utils/connections.py:96: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

Размер картезианова датафрейма: 5160 x 29020 = 149743200.
Датафрейм будет разбит на 15 частей
Получаем картезиановы датафреймы для каждой части:

100%|██████████| 15/15 [00:13<00:00,  1.09it/s]

Считаем расстояния:

100%|██████████| 15/15 [00:23<00:00,  1.54s/it]

Объединяем срезы ... успешно

In [4]:
all_dists.head()

,object_id,lat_x,lon_x,id_center_mass,lat_y,lon_y,distance
0,b819ec2781bebd714e39a3e9d0133709397868b238d6e7...,55.74353,37.820679,3081_1182_2,55.497335,37.583356,31132.043294
1,b819ec2781bebd714e39a3e9d0133709397868b238d6e7...,55.74353,37.820679,3082_1180_2,55.508358,37.538272,31556.679261
2,b819ec2781bebd714e39a3e9d0133709397868b238d6e7...,55.74353,37.820679,3082_1181_2,55.509816,37.545868,31156.649913
3,b819ec2781bebd714e39a3e9d0133709397868b238d6e7...,55.74353,37.820679,3082_1182_2,55.503556,37.587920,30387.895566
4,b819ec2781bebd714e39a3e9d0133709397868b238d6e7...,55.74353,37.820679,3083_1178_2,55.531160,37.477049,31943.404257